<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.information.modules.app.dao.InArticleDao">

    <update id="addALike" parameterType="java.lang.Long">
         update in_article set a_like=a_like+1 where a_id=#{aid}
    </update>
    <update id="addACollect" parameterType="java.lang.Long">
         update in_article set a_collect=a_collect+1 where a_id=#{aid}
    </update>
</mapper>
